aside.logo {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.logo img {
  display: none;
  padding: 0 15px;
  width: 150px;
  height: auto;
}

@media (max-width: 576px) {
  aside.logo img {
    display: none;
  }
}
