aside.menu-area {
  background-color: var(--bg-dark);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-weight: 300;
}

.menu a:hover {
  background: linear-gradient(135deg, #07a7e7 0%, #32dac3 100%);
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu a {
    display: inline;
    padding: 10px;
    margin: 0;
  }
  .menu {
    height: 100%;
    justify-content: space-around;
  }
}
