aside.menu-area {
  background-color: var(--bg-dark);
}

.menu a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  font-weight: 300;
}

.menu a:hover {
  background: linear-gradient(135deg, #07a7e7 0%, #32dac3 100%);
}
